{% extends "admin/base.html" %}

{% block page_breadcrumbs %}
<ul>
    <li><a href="{{ url_for('admin.web.index') }}">Index</a></li>
    <li><a href="{{ url_for('admin.web.blog_category_list') }}">Categories</a></li>
    <li><a href="{{ url_for('admin.web.blog_category_form', object_id=category.id) }}">Category: {{ category.name }}</a></li>
    <li>Delete</li>
</ul>
{% endblock %}

{% block page_content %}
{% if category.associated_blog_post_count > 0 %}
<section>
    <p>Unable to delete the category <strong>{{ category.name }}</strong>, because it has {{ category.associated_blog_post_count }} blog posts associated.</p>
    <p><a href="{{ url_for('admin.web.blog_category_form', object_id=category.id) }}"><i class="bi bi-arrow-left me-1"></i>Go back</a></p>
</section>
{% else %}
<form method="POST" novalidate>
    {{ form.csrf_token() }}

    {% if form.form_errors %}{{ render_admin_form_errors(form.form_errors) }}{% endif %}

    <section>
        <p>Are you sure you want to permanently delete the category: <strong>{{ category.name }}</strong>?</p>
        <p class="text-danger"><strong>Warning: this cannot be undone!</strong></p>
    </section>

    <div class="row">
        <div class="col-md">{{ render_admin_form_field(form.confirm_delete) }}</div>
        <div class="col-md">{{ render_admin_form_field(form.cancel_delete, class="secondary") }}</div>
    </div>
</form>
{% endif %}
{% endblock %}
